body {background-color: whitesmoke}
.loading-spin-container {min-height: 320px}
.visible {visibility: visible}
.hidden {visibility: hidden}
.input-prefix-color {color: rgba(0,0,0,.25)}

/**
  * Simple CSS Grid
  */
.header-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  justify-items: start;
  height: 64px;
}

.header-menu-container {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;

  justify-self: start;
  align-self: center;
  line-height: 0;
}

.header-menu-container .ant-menu {
  font-size: 18px;
  line-height: 64px;
}

.header-account-container {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;

  justify-self: end;
  align-self: center;
  line-height: 0;
  min-width: 80px;
}
.header-account-container .account-modal-title {
  text-align: center;
  display: block;
}
/**
  * End CSS Grid
  */

.ant-alert-close-icon .anticon {
  color: rgba(0, 0, 0, 0.45);
  transition: color .3s;
}
.ant-alert-close-icon .anticon:hover {
  color: #404040;
}

.header-container .ant-menu-submenu-arrow {
  display: none;
}

.header-submenu-more-icon {
  vertical-align: 0.175em;
}

.ant-menu-submenu-open.ant-menu-submenu-inline > .ant-menu-submenu-title .header-submenu-more-icon {
  transform: scale(-1);
}

.header-container .ant-typography.main-title {
  display: inline;
  color: whitesmoke;
}

.ant-btn.ant-btn-primary .ant-typography,
.ant-typography.white-text {
  color: whitesmoke;
}

.ant-btn.ant-btn-primary[disabled] .ant-typography {
  color: rgba(0, 0, 0, 0.25);
}

.header-menu-container .ant-menu.ant-menu-sub.ant-menu-inline {
  position: absolute;
  z-index: 1;
  left: 0;
}